body {
  font-family: "Roboto" ,sans-serif;
  }

a {
  text-decoration: none;
}
/* Top heading bar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: #121d27;
  color: rgb(158, 204, 218);
  }
/* The Kasen Brugh box top left */
.header h1 {
  font-size: 3rem;
  background-color: rgb(158, 204, 218);
  color: #121d27;
  margin: 1rem 0 1rem 1rem;
  padding: 0.35rem 0.65rem;
  display: inline-block;
}
/* The tabs in top right */
.header nav ul {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem;
  list-style-type: none;
}
/* each specific section on the top right */
.header li {
  display: inline-block;
  margin-left: 2rem;
}
/* text styling for top right tabs */
nav a {
  color: rgb(158, 204, 218);
  text-underline-offset: 7px;
  text-decoration: underline;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  
}

nav a:hover {
  color: white;
}
/* city stuff */
.slogan-box {
  height: 200px;
  width: 100%;
  background-image: url(../images/city\ banner.jpg);
  background-position: center;
  background-size: fill;
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  padding-bottom: 0.5rem;
}
/* The COOL SLOGAN box */
#slogan {
  font-size: 27px;
  background-color: #121d27;
  color: rgb(158, 204, 218);
  border: 0rem;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}

.aboutTxt {
  margin-top: 2rem;
  display: flex;
  width: 100%;
}

.aboutDiv {
  padding-right: 16px;
  width: 190.5px;
}
/* The "About Me" text */
.aboutTxt h2 {
  text-align: right;
  font-size: 3rem;
  font-weight: bold;
  color: #121d27;
}
/* whole about me paragraph text */
#about {
  color: #121d27;
  padding-left: 1rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  width: 80%;
  border-left: solid  0.25rem;
}

.work {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.workDiv {
  
  padding-right: 16px;
  width: 190.5px;
}

.work h2 {
  text-align: right;
  color: #121d27;
  font-size: 3rem;
}
/* Entire section of projects */
.container {
  width:75%;
  padding: 1rem;
  justify-content: center;
  border-left: solid  0.25rem;
}
/* Big first project */
.large-box {
  height: 600px;
  width: 100%;
  margin-bottom: 1rem;
  background-image: url('https://github.com/BrughK/Project-1/raw/main/assets/images/127.0.0.1_5500_index.html%20(1).png');
  background-size: cover;
  background-position: top; 
  display: flex;
  align-items: flex-end;
  border: solid rgb(158, 204, 218) .75rem;
  text-decoration: none;
  box-shadow: 3px 3px #00000046;
}

.large-box:hover {
   opacity: 80%;
}
/* Callout Box of Big Project */
.large-box h3 {
  background-color: rgb(158, 204, 218);
  color: #121d27;
  font-size:30px;
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  padding: 1rem .5rem 1rem .5rem;
  margin-bottom: 2rem;
}
/* Smaller Project 1 */
.box1:hover{
  opacity: 80%;
}

.box1 {
  height: 350px;
  width: 100%;
  margin-bottom: 0.5rem;
  background-size: cover;
  background-position: center;
  background-image: url(../images/city2.jpg);
  display: flex;
  align-items: flex-end;
  padding-bottom: 1%;
  border: solid rgb(158, 204, 218) .75rem;
  box-shadow: 3px 3px #00000046
}
/* Callout Box of Project */
.box1 h3 {
  background-color: rgb(158, 204, 218);
  color: #121d27;
  font-size:30px;
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  margin-bottom: 2rem;
  padding: 1rem 1rem 1rem 0.5rem;
}
/* Smaller Project 2 */
.box2:hover{
  opacity: 80%;
}

.box2 {
  height: 350px;
  width: 100%;
  margin-bottom: 0.5rem;
  background-size: cover;
  background-position: center;
  background-image: url(../images/city3.jpg);
  display: flex;
  align-items: flex-end;
  padding-bottom: 1%;
  border: solid rgb(158, 204, 218) .75rem;
  box-shadow: 3px 3px #00000046
}
/* Callout Box of Project */
.box2 h3 {
  background-color: rgb(158, 204, 218);
  color: #121d27;
  font-size:30px;
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  margin-bottom: 2rem;
  padding: 1rem 1rem 1rem 0.5rem;
}
/* Smaller Project 3 */
.box3:hover{
  opacity: 80%;
}

.box3 {
  height: 350px;
  width: 100%;
  margin-bottom: 0.5rem;
  background-size: cover;
  background-position: center;
  background-image: url(../images/city4.jpg);
  display: flex;
  align-items: flex-end;
  padding-bottom: 1%;
  border: solid rgb(158, 204, 218) .75rem;
  box-shadow: 3px 3px #00000046
}
/* Callout Box of Project */
.box3 h3 {
  background-color: rgb(158, 204, 218);
  color: #121d27;
  font-size:30px;
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  margin-bottom: 2rem;
  padding: 1rem 1rem 1rem 0.5rem;
}
/* Smaller Project 4 */
.box4:hover{
  opacity: 80%;
}

.box4 {
  height: 350px;
  width: 100%;
  margin-bottom: 0.5rem;
  background-size: cover;
  background-position: center;
  background-image: url(../images/city5.jpg);
  display: flex;
  align-items: flex-end;
  padding-bottom: 1%;
  border: solid rgb(158, 204, 218) .75rem;
  box-shadow: 3px 3px #00000046
}
/* Callout Box of Project */
.box4 h3 {
  background-color: rgb(158, 204, 218);
  color: #121d27;
  font-size:30px;
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  margin-bottom: 2rem;
  padding: 1rem 1rem 1rem 0.5rem;
}
/* Parapgraph text in the about me section */
#about p {
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #121d27;
}
/* the container that holds the 4 smaller projects in a grid */
.containerS {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5%;
  padding-bottom: 3rem;
}
/* The entire contact section at the bottom */
#contact {
  display: flex;
  align-items: center;
  height: 10rem;
}

.contactDiv {
  padding-left: 16px;
  width: 190.5px;
}

/* The actual "Contact Me" text */
#contact h2 {
  color: #121d27;
  /* padding-left: 1rem; */
  /* margin: 1.5rem; */
  font-size: 3rem;
  flex-direction: row-reverse;
  align-items: flex-end;
  display: flex;
  text-align: right;
  padding-right: 0.5rem;
}
/* Each tab inside the contact me list */
#contact ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: solid  0.25rem;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 60px;
  margin-bottom: 60px;
}

/* makes hover change color */
#contact a:hover{
  color: #28425a;
  border-bottom: solid #28425a 0.15rem;
}
/* adds links to github and styling */
#contact a {
  color: #121d27;
  border-bottom: solid #121d27 0.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 992px) {
  .header {
    flex-direction: column;
  }

  .header h1 {
    font-size: 2.5rem;
  }

  .header nav {
    flex-direction: column;
    background-color: #121d27;
    width: 100%;
  }

  .header nav ul {
    flex-direction: column;
    gap: 0rem;
  }

  .header li {
    margin-top: 4px;
    text-align: center;
  }

  .header a {
    text-decoration: none;
  }
  
  #slogan {
    flex-direction: column;
  }

  .aboutDiv {
    flex-direction: column;
  }

  .aboutTxt h2 {
    width: 150%;
    padding: 3% 0;
    text-align: center;
  }

  .aboutTxt {
    width: 100%;
    padding: 3%;
    border: none;
    flex-direction: column;
    justify-content: center;
  }
  #about {
    border: none;
  }

  .containerL {
    flex-direction: column;
  }

  .containerS {
    grid-template-columns: repeat(1,1fr);
  }

  .work {
    flex-direction: column;
  }

  .workDiv {
    width: 100%;
  }

  .work h2 {
    text-align: center;
    padding: 3% 0;
  }

  .container {
    border: none;
    padding: 3%;
    width: 100%;
  }

  #contact h2 {
    width: 100%;
    text-align: center;
    display: block;
  }

  .contactDiv {
    width: 100%;
    flex-direction: column;
    border: none;
  }

  #contact {
    flex-direction: column;
    align-items: center;
  }

  #contact a {
    border: none;
    font-size: 15px;
  }

  #contact ul {
    flex-direction: column;
    border: none;
    margin-top: 0px;
    padding: 20px 0 20px 0;
  }
}